/* GRAY -- #323232
FUSCHIA -- #A10D65
PINK -- #BE3F83
LT. BLUE -- #AAE1F7 */

.container {
  max-width: 100%;
}

body {
  background-color: #AAE1F7
}

header {
  background-color: #323232;
  color: white;
  text-align: center;
  padding: 15px;
}

header > section > div .title {
  padding: 20px;
}

h3 {
  text-align: center;
}

button {
  background-color: #323232;
}

.location-data {
  background-color: #A10D65;
  color: white;
  padding: 10px;
  text-align: center;
}

div.row > div > form > input{
  width: 100%;
  background-color: lightcyan;
}
 
.submit-button {
  padding: 0 10px;
  border: 2px solid lightgray;
} 

.current-conditions  {
  text-align: center;
}

.extended-forecast-block {
  text-align: center;
}

.extended-forecast-block div {
  width:30%;
  color: white;    
  background-color: #631717;
  border: 2px solid white;
  display:inline-block;
}

footer {
  text-align: center;
}

