.current-conditions {
  text-align: center;
}

.extended-forecast-block {
  text-align: center;
}

.extended-forecast-block div {
  width:30%;    
  background-color: lightgray;
  border: 2px solid white;
  display:inline-block;
}

footer {
  text-align: center;
}